body {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	font-family: "Lato", serif;
	font-weight: 300;
	width: 100%;
	box-sizing: border-box;
}

header {
	width: 100%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px grey;
}

a {
	margin: auto 5px;
}

.profile {
	margin: 10px;
	width: 40%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

img {
	width: 55px;
	height: 45px;
	padding: auto 10px;
	display: block;
	margin: 2px;
}

.links {
	width: 50%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

.link {
	margin: auto 10px;
	display: block;
	text-align: center;
}

.title {
	display: block;
	width: 30%;
	margin:auto;
	text-align: center;
}

.user {
	display: block;
	width: 50%;
	text-align: center;
	margin: auto;
}

textarea {
	width: 500px;
	height: 200px;
}

main {
	max-width:1000px;
	width: 80%;
	margin: auto;
	min-width: 300px;
}

.row {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.blogi {
	margin: 0;
	padding: 0;
	width: 100%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	background-color: #e6e6e6;
}	

.blog {
	padding: 5px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.edit {
	padding-left: 0;
	padding-right: 5px;
	display: block;
}
.like {
	width: 50%;
	display: block;
}
.section_title {
	display: block;
	width: 100%;
}
.display_title {
	margin-left: 4px;
	width: 55%;
	text-align: left;
	display: block;
}
.display {
	padding: 5px;
	width: 100%;
	margin: auto;
}
.display_date {
	color: grey;
	font-size: 0.8em;
}
.display_text {
	width: 100%;
	font-size: 1.1em;
	font-weight: 500;
}
.commenter{
	padding: 0 0 0 20px;
	font-weight: 500;
	color: grey;
	font-size: 1em;
	display: block;
}
.comment_text{
	font-size: 1em;
	font-weight: 500;
	display: block;
}

.author {
	text-align: left;
	width: 20%;
	display: block;
	color: grey;
}

.comments {
	width: 100%;
	margin: 5px 0;
	padding: 5px;
	border-bottom: solid 2px grey;
}