body {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	font-family: "Lato", serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	width: 100%;
	box-sizing: border-box;
}

header {
	width: 100%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid 1px grey;
	margin-bottom: 20px;
}

a {
	margin: 5px;
	color: grey;
	font-size: 0.9em;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
}

.profile {
	margin: auto;
	width: 270px;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

img {
	width: 55px;
	height: 45px;
	padding: auto 10px;
	display: block;
	margin: 2px;
}

.headlinks{
	width: 180px;
	text-align: center;
	margin: auto;
}

.links {
	width: 55%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

.link {
	padding: auto 10px;
	display: block;
	text-align: center;
}

.title {
	display: block;
	font-weight: 300;
	font-size: 1.5em;
	width: 200px;
	min-width: 115px;
	margin: auto;
	text-align: center;
}

.user {
	font-size: 0.9em;
	font-weight: 500;
	display: block;
	width: 40%;
	text-align: center;
	margin: auto;
	padding-right: 5px;
}

.input_title{
	width: 80%;
}

textarea {
	width: 80%;
	height: 200px;
}

main {
	max-width:1200px;
	width: 90%;
	margin: auto;
	min-width: 300px;
}

.row {
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

h4 {
	-webkit-margin-before: 0.6em;
	-webkit-margin-after: 0.6em;
}

.blogi {
	margin: 0;
	padding: 0;
	width: 100%;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	background-color: #e6e6e6;
}	

.blog {
	padding: 5px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.edit {
	padding-left: 0;
	padding-right: 5px;
	display: block;
}
.like {
	display: block;
	margin-right: 5px;
}
.section_title {
	display: block;
	width: 100%;
}
.display_title {
	margin-left: 4px;
	width: 40%;
	min-width: 150px;
	text-align: left;
	display: block;
}
.display {
	padding: 5px;
	width: 100%;
	margin: auto;
}
.display_date {
	color: grey;
	font-size: 0.6em;
}
.display_text {
	width: 100%;
	font-size: 1em;
	font-weight: 500;
}
.commenter{
	padding: 0 0 0 20px;
	font-wei1ht: 500;
	color: grey;
	font-size: 1em;
	display: block;
}
.comment_text{
	font-size: 1em;
	font-weight: 500;
	display: block;
}

.author {
	text-align: left;
	width: 20%;
	margin: auto 15px;
	min-width: 120px;
	display: block;
	color: grey;
}
.likedby {
	text-align: left;
	width: 30%;
	min-width: 120px;
	display: block;
	color: grey;
}

.comments {
	width: 100%;
	margin: 5px 0 10px 0;
	padding: 5px;
	padding-bottom: 15px;
	border-bottom: solid 1px grey;
}