{% extends "base.html" %}

{% block content %}
	<h3>Edit Blog</h3>

	<form method="post">
	<label>
	    <h4 class="section_title">Title: </h4>
	    <input type="text" name="title" value="{{ old_title }}">
	</label>
	<label>
	    <p class="commenter">{{ old_text }}</p>
	    <h4 class="section_title">New Text:</h4>
	    <textarea name="text" value="{{ old_text }}"></textarea>
	</label>
	<input type="submit">
	</form>

	<div class="error">
	   	<p style="color: red">{{ error }}</p>
	</div>
{% endblock %}