{% extends "base.html" %}

{% block content %}

	<div class="display_blog">
	    {% if messages: %}
		<div class="blog">
		    <div class="blog">
		        <h2 class="display_title">{{ messages.title }}</h2>
		        <h4 class="author">Author: {{ messages.author }}</h4>
		        <h4 class="author"> liked by: {{ messages.likes }}</h4>
		    </div>
		    <div class="display">
		    	<p class="display_text">{{ messages.text }}</p>
		        <p class="display_date">{{ messages.created }}</p>
		    </div>
		    <div class="comments">
		        {% if comments[messages.key().id()] %}
		        <h4 class="section_title">Comment:</h4>
		    	{% for b in comments[messages.key().id()]: %}
		    	<div class="row">
		    		<p class="comment_text">{{ b.commenter }}: &nbsp;</p>
		    		<p class="comment_text">{{ b.text }}</p>
		    	</div>		    	
		    	<h4 class="display_date">{{ b.created }}</h4>

		    	{% endfor %}
		    	{% endif %}
		    </div>
		    <a href="/blog/newcomment/{{ messages.key().id() }}" class="new_comment">Add New Comment</a>
		</div>
		{% endif %}
	</div>
{% endblock %}
